body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#chart {
  margin: 0px;
  padding: 0px;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: rgb(232, 255, 0);
}

.grandparent:hover rect {
  fill: rgb(202, 225, 0);
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}
